/* HABILIDADES */

.habilidades{
    width: 90%;
    height: 100vh;
    position: relative;
    margin: 5%;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

/* titulo y parrafo Mis conocimientos */

.introconocimientos{
    margin-top: 4%;

}

.conocimientos{
    width: 100%;
    height: 10%;
    font-weight: 900;
    font-size: 5vh;
    color: var(--azul-oscuro);
    margin: 0;
    text-align: center;

}

.text{
    width: 40vw;
    height: 10vh;
    font-size: 2.5vh;
    color: var(--azul-oscuro);
    margin: 0;
    text-align: center;
    justify-self: center;
}
    
/* Cajas lenguajes  */

.lenguajes{
    width: 90%;
    height: 70%;
    position: absolute;
    display: flex;
    align-self: flex-end;
    justify-self: center;
    flex-wrap: wrap;
    margin-left: 17%;
}

/* Cada herramienta */

.skill{
    background-color:rgb(238, 238, 238);
    height: 220px;
    width: 250px;
    font-size: 1rem;
    border: thin;
    border-radius: 3%;
    border-color:var(--rosa-mas-claro);
    margin: 1% 2rem;
    text-align: center;
    border: solid 0.1rem rgb(201, 201, 201);
    padding-top: 4%;
}

.skill:hover{
    border: ridge 2px rgb(196, 196, 196);
    box-shadow: 5px 5px 10px rgb(196, 196, 196);
}

.colored{
    font-size: 6rem;
}

.language{
    padding: 8%;
    font-weight: 900;
    color: var(--azul-oscuro);
}



/* RESPONSIVE */


@media(max-width:1100px)and (min-width:800px){


    .habilidades{
        height: 32rem;
        width: 75%;
        margin-top: 34rem;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 34rem;
    } 

    .skill{
        height: 9rem;
        width: 9rem;
    }

    .skill i{
        font-size: 3.2rem;
    }

    .skill .language{
        font-size: 1rem;
    }


    .lenguajes{
        width: 100%;
    }
    .introconocimientos .conocimientos{
        margin-top: 1rem;
        font-size: 2rem;
    } 

    .introconocimientos .text{
        font-size: 1.6rem;
        width: 100%;
    }

    .introconocimientos h2{
        font-size: 2.6rem;
        text-align: center;
    }

    .lenguajes{
        height: auto;
        margin-top: 4rem; 
        
    }

    .lenguajes p{
        font-size: 1rem;
    } 

    

}

@media(max-width:800px) and (min-width: 600px){


    .habilidades{
        height: 600px;
        width: 90%;
        margin-top: 30rem;
        display: flex;
        justify-content: center;
       
    } 

    
    .skill{
        height: 9rem;
        width: 9rem;
       
    }

    .skill i{
        font-size: 3.2rem;
    }

    .skill .language{
        font-size: 1rem;
    }

    .lenguajes{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .introconocimientos .conocimientos{
        margin-top: 1rem;
        font-size: 2rem;
    } 

    .introconocimientos .text{
        font-size: 1.6rem;
        width: 100%;
    }
}    

@media(max-width:600px) and (min-width: 270px){
    .habilidades{
        height: auto;
        width: 100%;
        margin-top: 30rem;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;

    }

    .introconocimientos{
        margin-top: 5rem;
    }


    .lenguajes{
        margin-top: -8rem;
        width: 100%;
       
    }
    .introconocimientos h2{
        width: 100%;
        font-size: 1.5rem;
        align-self: center;
        align-content: center;
    
        }

    .introconocimientos p{
        width: 100%;
        font-size: 1rem;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: 1.25rem;

    } 

    .lenguajes{
        display: flex;
        height: auto;
        width: 85%;
        position: relative;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: center;
        margin-top: 0.5rem;
        margin-left: 1rem;
        margin-bottom: 4rem;
    
    }

    .skill{
        height: 6.25rem;
        width: 6.25rem;
        margin: 2% 6%;
        
    }


    .skill p{
        font-size: 1.25rem;
        
    }
    .skill i{
        font-size: 2.5rem;
    }

    .skill .language{
        font-size: 0.75rem;
    }
}    

