
  *{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  /* colores */

:root {
  --violeta-principal: #7f3a5f;
  --azul-oscuro: rgb(17, 13, 62);
  --rosa-claro: #c9a5aa;

  --rosa-mas-claro: #dab2b8;
  --casi-blanco: #f3e2e5;
  --gris: rgb(182, 180, 180);
  
}






