
  *{
    /* background-color: #c9a5aa; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: #dab2b8; */
  }

