
  *{
    /* background-color: #c9a5aa; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    /* background-color: #dab2b8; */
    /* box-shadow: 0 7px 20px rgba(92, 92, 92, 0.7) */
  }


  /* responsive */

  /* @media(max-width:800px) and (min-width: 320px){
    /* *{
      max-width: 320px;
    } */ 