/* Seccion contacto */

.lastcontact{
    height: 47rem;
    width: 90%;
    display: inline-flex;
    flex-direction: row;
    margin-left: 5%;
    align-content: center;
    border: thin 0.1em #7f3a5f;
    border-radius: 0.8em;  
    padding-top: 1em;
    box-shadow: 5px 5px 10px #c9a5aa; 
    background-color: #e9e2e2;
}

/* Contactame  */

.contact-me{
    display: inline-flex;
    flex-direction: column;
    
}
.lastcontact article h2{
    width: 100%;
    height: 10%;
    font-weight: 900;
    font-size: 6vh;
    color: rgb(17, 13, 62);
    margin-top: 2.4em;
    text-align: center;
}

.lastcontact article p{
    width: 40vw;
    height: 10vh;
    font-size: 2.5vh;
    color: rgb(17, 13, 62);
    margin-top: 2em;
    text-align: center;
}

/* redes sociales */

.lastcontact .contact-me a {
    height: 2.5em;
    width: 25em;
    display: inline-flex;
    flex-direction: row;
    margin-top: 2em;
    align-items: center;
}

.lastcontact .contact-me a:hover{
    color: #7f3a5f;
    font-weight: 600;
    transition:all .5s ease-in-out;
}


.lastcontact .contact-me .fab,
.fas{
    height: 1.5em;
    width: 1.5em;
    margin: 1.2em;
    font-size: 1.5em;
    color: #7f3a5f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lastcontact .contact-me .fab:hover, .fas:hover{
    background-color: #7f3a5f;
    border-radius: 100%;
    color:#c9a5aa ; 
    transition:all .5s ease-in-out;
}


/*  Escribime Formulario */

.write-me{
    box-sizing: border-box; 
}

.lastcontact form{
    height: 80%;
    width: 100%;
    margin-top: 1em;
    
}
.names{
    margin: 10px;
}

.lastcontact div{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

form{
    height: auto;
    font-weight: 600;
    margin-top: -4em;
}

input{
    height: 3em;
    border-radius: 2em;
    border-style: none;
    background-color: rgb(236, 232, 255);
    padding: 1em;
    box-shadow: 5px 5px 10px #c9a5aa;
    outline: none;
}
input:focus{
    color: rgb(17, 13, 62);
    border-radius: 3em;
    border: thin 0.5em rgb(208, 208, 208);
    box-shadow: 3px 3px 10px  #7f3a5f;
}

.names label{
    color:rgb(17, 13, 62);
    display: flexbox;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.emails{
    color: rgb(17, 13, 62);
}

.emails label{
    padding-top: 1em;
    padding-bottom: 0.5em;
}
textarea{
    color: rgb(17, 13, 62);
    border-radius: 1em;
    border-style: none;
    background-color: rgb(236, 232, 255);
    padding: 1em;
    box-shadow: 5px 5px 10px #c9a5aa;
    outline: grey; 
}

textarea:focus{
    box-shadow: 3px 3px 10px  #7f3a5f;
}

.messages label{
    color: rgb(17, 13, 62);
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.write-me form button{
    height: 6vh;
    width: 20vh; 
    background-color: #c9a5aa;
    border-radius: 30vh;
    display: flex;
    align-items: center;
    color: rgb(17, 13, 62);
    font-size: 1em;
    font-weight: 700;
    border-style: none;
    margin: 10px;
    margin-top: 2em;
    justify-content: center;

   
}
.write-me form button:hover{
    background-color:#e0ced0;
    cursor: pointer;
    
}


/* Ajustes responsive */

@media(max-width:1200px)and (min-width:800px){
    .lastcontact{
        width: 90%;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        margin: auto;
    }

    .lastcontact .contact-me h2, 
    .lastcontact .write-me h2{
            margin-top: auto;
            font-size: 2.5rem;
    }

    .lastcontact .contact-me p{
        font-size: 1.8rem;
        width: auto;
       margin-bottom: 2px;
    }

    .contact-me a{
        display: flex;
        font-size: 1.5rem;
        margin-top: 0%;
    }

    .write-me{
        margin: 2rem
    }

    .contact-form button{
        width: auto;

    }

}

@media(max-width:800px) and (min-width: 320px){
    .lastcontact{
        width: 100%;
        height: auto;
        display:flex;
        flex-flow: column nowrap;
        margin: auto;
    }

    .lastcontact .contact-me h2, 
    .lastcontact .write-me h2{
            margin-top: 2.5rem;
            font-size: 1.5rem;
    }

    
    .lastcontact .contact-me p{
        font-size: 1rem;
        width: auto;
       margin-bottom: -1.25rem;
    }

    .lastcontact .contact-me a{
        margin-top: 1rem;
    }

    .write-me{
        width: 90%;
    }

    .contact-form button{
        width: auto;
    }
}