.lastcontact{
    height: 40rem;
    width: 90%;
    display: inline-flex;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 5em;
    align-content: center;
    border: solid 0.1em #7f3a5f;
    border-radius: 0.8em;
}

.lastcontact div{
    height: 100%;
    width: 45%;
    display: flexbox; 
    margin-top: 5em;
}

/* Contactame  */

.contact-me{
    display: inline-flex;
    flex-direction: column;
}
.lastcontact div h2{
    width: 100%;
    height: 10%;
    font-weight: 900;
    font-size: 6vh;
    color: rgb(17, 13, 62);
    margin: 0;
    text-align: center;
}

.lastcontact div p{
    width: 40vw;
    height: 10vh;
    font-size: 2.5vh;
    color: rgb(17, 13, 62);
    margin: 0;
    text-align: center;
    
}

.lastcontact .contact-me a {
    height: 3em;
    width: 16em;
    background-color: cyan;
}


.lastcontact .contact-me .fab{
    height: 2rem;
    width: 2em;
    margin: 0.5em;
    color: #7f3a5f;
}

.lastcontact .contact-me .fab:hover{
    background-color: #7f3a5f;
    color: #c9a5aa;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dcd4d4;
   
}

/* .lastcontact .contact-me .fas{
    height: 2em;
    width: 2em;
    color: #7f3a5f ;
    margin: 0.5 em;
    display: flex;
    justify-content: center;
    align-items: center;

} */
/* 
.lastcontact .contact-me .fas:hover{
    background-color: #7f3a5f;
    color: #c9a5aa;
    border-radius: 100%;
}

.lastcontact .contact-me .fab{
    height: 2em;
    width: 2em;
    color: #7f3a5f;
    margin: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;
    
}

.lastcontact a{
    /* margin-left: 3em; */

/* .lastcontact .contact-me .fab:hover{
    background-color: #7f3a5f;
    color: #c9a5aa;
    border-radius: 100%;
}  */


/*  Escribime Formulario */

form .contact-form{
    height: 200px;
    width: 300px;
    background-color: rgb(51, 45, 45);
    border: solid 1px black;
    margin-bottom: 2em;
}

input{
    height: 3em;
    border-radius: 5%;
    border-style: none;
    background-color: rgb(218, 211, 250);
}

textarea{
    border-radius: 5%;
    border-style: none;
    background-color: rgb(218, 211, 250);
}
