/* Footer */

footer{
    height: 22em;
    width: 100%;
    flex-direction: column;
    padding: 4em;  
    display: flex;
    margin-top: 7em;
    margin-bottom: 0em;
    background-image: linear-gradient(to bottom right, #7f3a5f, rgb(17, 13, 62));
    
} 

/* last menu */

.last-menu{
    justify-items: center;
    margin-left: 20em;
}
.last-menu a{
    width: 100%;
    text-transform: uppercase;
    color: #dcd4d4;
}

.last-menu a:hover{
    color: #f3e2e5;
    
}


/* social media */

.social{
    height: 18%;
    display: flex;
    /* justify-content: center; */
    margin-top: 4em;
    margin-left: 29em;
    font-size: 1em;

}

footer .fas{
    position: relative;
    height: 3em;
    width: 3em;
    background-color: #dab2b8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(17, 13, 62);
    font-size: 1em;
    margin: 0em;
    
}
footer .fas:hover{
    background-color: #7f3a5f;
    color: #dab2b8;
    border: solid 0.1em #dab2b8;
    transition:all .5s ease-in-out;
}

footer .fab{
    height: 3em;
    width: 3em;
    background-color: #dab2b8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer .fab:hover{
    background-color: #7f3a5f;
    color: #dab2b8;
    border: solid 0.1em #dab2b8;
    transition:all .5s ease-in-out;
    
}


/* made by me */

footer .made-by{
    height: 20px;
    width: 16em;
    color: #dcd4d4;
    margin: 3em 28em;

}

/* Responsive */


@media(max-width:1200px)and (min-width:800px){
    footer{
        width: 100%;
        display: flex;
        position: relative;
        margin-top: 5rem;
        align-items: center;       
    }

    .social{
        display: flex;
        margin-left: 0.8125rem; 
    }
    .last-menu{
        display: flex;
        margin-left: 0.5rem;
    }
        
}


@media(max-width:800px)and (min-width:320px){
    footer{
        width: 100%;
        display: flex;
        position: relative;
        margin-top: 5rem;
        align-items: center;       
    }

    .social{
        display: flex;
        margin-left: 0.8125rem; 
    }
    .last-menu{
        display: none;

    }

}