/* Footer */

footer{
    height: 22em;
    width: 100%;
    background-color: #7f3a5f;
    flex-direction: column;
    padding: 4em;  
    display: flex;
    margin-top: 7em;
    margin-bottom: 0em;
    
} 

/* last menu */

.last-menu{
    justify-items: center;
    margin-left: 20em;
}
.last-menu a{
    width: 100%;
    text-transform: uppercase;
    color: #dcd4d4;
}

.last-menu a:hover{
    color: #f3e2e5;
}


/* social media */

.social{
    height: 18%;
    display: flex;
    /* justify-content: center; */
    margin-top: 4em;
    margin-left: 29em;
    font-size: 1em;

}

footer .fas{
    height: 3em;
    width: 3em;
    background-color: #dab2b8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .fas:hover{
    background-color: #7f3a5f;
    color: #dab2b8;
    border: solid 0.1em #dab2b8;
}

footer .fab{
    height: 3em;
    width: 3em;
    background-color: #dab2b8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .fab:hover{
    background-color: #7f3a5f;
    color: #dab2b8;
    border: solid 0.1em #dab2b8;
}


/* made by me */

footer .made-by{
    height: 20px;
    width: 16em;
    color: #dcd4d4;
    margin: 3em 28em;

}