/* Footer */

footer{
    height: 20em;
    width: 100%;
    background-color: #7f3a5f;
    display: flex;
    /* align-items: center; */
    /* justify-items: center; */
    /* justify-content: center; */
    margin-top: 10em;
    
} 

/* last menu */

.last-menu a{
    width: 100%;
    text-transform: uppercase;
    color: #dcd4d4;
   justify-items: center;
}

.last-menu a:hover{
    color: #f3e2e5;
}



/* social media */

.social{
    height: 18%;
    display: flex;
    /* justify-content: center; */
    margin-top: 7em;
    font-size: 1em;

}

footer .fas{
    height: 3em;
    width: 3em;
    background-color: #dab2b8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .fas:hover{
    background-color: #7f3a5f;
    color: #dab2b8;
    border: solid 0.1em #dab2b8;
}

footer .fab{
    height: 3em;
    width: 3em;
    background-color: #dab2b8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .fab:hover{
    background-color: #7f3a5f;
    color: #dab2b8;
    border: solid 0.1em #dab2b8;
}


/* made by me */

footer .made-by{
    height: 20px;
    color: #dcd4d4;
    margin-top: 15em;
    display: flex;
    margin-right: 10em;
    justify-content: center;
   
    /* margin-right: 50%; */
    /* justify-self: center ; */
    /* no logro centrar la frase */
}