/* Presentacion */
.presentacion{
    width: 90%;
    height: 31.25rem;
    margin-left: 7%;
    margin-top: 10em;
    display: flexbox;    
}
.hola{
    font-size: 1.875rem;
    color: rgb(17, 13, 62);
    font-weight: 600;
    margin-bottom: 0.8em;
}
h1{
    color: #7f3a5f;
    font-size: 50px;    
}    
.descripcion{
    color: rgb(17, 13, 62);
    font-size: 2.5vh;
    margin-top: 1.5625rem;
    display: flex;
}
.quehago{
    height: 8vh;
    width: 16vw;
    margin-top: 10%;
    border-radius: 30px;
    color: rgb(17, 13, 62);;
    font-size: 15px;
    font-weight: 600;
    background-color: #dab2b8;
    display: flex;
    
}
.quehago botton{
    height: 100%;
    width: 100%;
    display: flex;
    justify-items: center;
    
}
.quehago a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-left: 1.2em;
  
}

.quehago:hover{
    background-color: rgb(182, 180, 180);
    cursor: pointer;
}

.intro{
    width: 60%;
    height: auto;
    
}
.fotperfil{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: flex-end;
    margin-top: -50vh;

}

/* RESPONSIVO */

@media(max-width:1200px)and (min-width:800px){
    .presentacion{
        width: 100%;
        height: 40em;
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-top: 4rem;
        align-items: center;
    } 
    
    .fotperfil img{
        height: auto;
        width: 95%;
         margin-top: 80vh;
         justify-content: center;
         align-self: center;
         position: absolute;
         flex-flow: column nowrap;
     }  
         
     .quehago {
        width: 45%;
        position: absolute;
        margin-top: 50rem;
        display: flex;
        justify-self: center;

        
       
    } 
}


 
 @media(max-width:800px) and (min-width: 280px){
    .presentacion{
        height: 14em;
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-top: 2rem;
        max-width: 100%;
    
    }
       .intro{
        flex-direction: column;
        height: auto;
    }

      .intro p{
        font-size: 0.875rem;
        flex-direction:column ;
    }
    
        .intro h1, p, .descripcion{
            font-size: 1.875rem;
            text-align: center;
        }

    .quehago {
        width: auto;
        height: 2.5rem;
        margin-top: 49vh;
        font-size: 0.625rem;
        justify-self: center;
        
    } 

    .quehago a{
        font-size: 0.625rem;
        text-align: center;
        justify-content: center;

    }

    .fotperfil img{
       height: auto;
       width: 95%;
        margin-top: 21vh;
        justify-items: center;
        align-self: center;
        position: absolute;
        flex-flow: column nowrap;
    }  

    
 }    