/* Presentacion */

.presentacion{
    width: 90%;
    height: 31.25rem;
    margin-left: 7%;
    margin-top: 10em;
    display: flexbox;    
}
.hola{
    font-size: 1.875rem;
    color: var(--azul-oscuro);
    font-weight: 600;
    margin-bottom: 0.8em;
}
.eugenia{
    color: var(--violeta-principal);
    font-size: 50px;    
}    
.descripcion{
    color: var(--azul-oscuro);
    font-size: 2.5vh;
    margin-top: 1.5625rem;
    display: flex;
}
.quehago{
    height: 8vh;
    width: 15vw;
    margin-top: 10%;
    border-radius: 30px;
    color: var(--azul-oscuro);
    font-size: 0.9375rem;
    font-weight: 600;
    background-color:var(--rosa-claro);
    display: flex; 
}

.quehago a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
}

.quehago a:hover{
    background-color: var(--gris);
    cursor: pointer;
    border-radius: 30px;
}

.intro{
    width: 60%;
    height: auto;
    
}
.fotperfil{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: flex-end;
    margin-top: -50vh;

}

/* RESPONSIVO */

@media(max-width:1200px)and (min-width:1100px){
    .fotperfil{
        height: auto;
        width: 90%;
        position: relative;
       margin-top: -330px;
       margin-left: 140px; 
    }  

    .presentacion{
        width: 80%;
    }
}   

@media(max-width:1100px)and (min-width:800px){
    

    .presentacion{
        height: 14rem;
        display: flex;
        flex-direction: column;
        align-items: center; 
        align-content: center;
        margin-top: 2rem;
        max-width: 100%;
    
    }
       .intro{
        flex-direction: column;
        height: auto;
    }

      .intro p{
        font-size: 1.5rem;
        flex-direction:column ;
    }
    
        .intro h1, p, .descripcion{
            font-size: 2.3rem;
            text-align: center;
    }

    .quehago {
        width: 30%;
        height: 2.5rem;
        font-size: 0.625rem;
        justify-self: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        margin-top: 47rem;
        
    } 

    .quehago a{
        font-size: 0.625rem;
        text-align: center;
        justify-content: center;

    }


    .fotperfil{
        display: flex;
    }

    .fotperfil img{
       height: auto;
       width: 82%;
        margin-top: 55vh;
        justify-items: center;
        align-self: center;
        position: relative;
        flex-flow: column nowrap;
        max-height: 60%;
        max-width: 60%;
        margin-right: 11rem;
    }  
    
}

 @media(max-width:800px)and (min-width:550px) {
     
    .presentacion{
        height: 14em;
        display: flex;
        flex-direction: column;
        align-items: center; 
        align-content: center;
        margin-top: 2rem;
        max-width: 100%;
    
    }
       .intro{
        flex-direction: column;
        height: auto;
    }

      .intro p{
        font-size: 0.875rem;
        flex-direction:column;
    }
    
    .intro h1, p, .descripcion{
        font-size: 1.875rem;
        text-align: center;
     }

    .quehago {
        width: 30%;
        height: 2.5rem;
        font-size: 0.625rem;
        justify-self: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;         
        margin-top: 47rem;
        
    } 

    .quehago a{
        font-size: 0.625rem;
        text-align: center;
        justify-content: center;
    }


    .fotperfil{
        display: flex;

    }

    .fotperfil img{
       height: auto;
       width: 80%;
        justify-items: center;
        position: absolute;
        margin: 30vh auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        flex-flow: column nowrap;
        
    }  
}
 
 @media(max-width:550px) and (min-width: 270px){
    .presentacion{
        height: 14em;
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-top: 2rem;
        max-width: 100%;
    
    }
       .intro{
        flex-direction: column;
        height: auto;
    }

      .intro p{
        font-size: 0.875rem;
        flex-direction:column ;
    }
    
        .intro h1, p, .descripcion{
            font-size: 1.875rem;
            text-align: center;
        }

    .quehago {
        width: auto;
        height: 2.5rem;
        margin-top: 23rem;
        font-size: 0.625rem;
        justify-self: center;
        position: relative;
        
    } 

    .quehago a{
        font-size: 0.625rem;
        text-align: center;
        justify-content: center;
       

    }

    .fotperfil img{
       height: auto;
       width: 95%;
        margin-top: 9vh;
        justify-items: center;
        align-self: center;
        position: relative;
        flex-flow: column nowrap;
    }  

    
 }    