/* .Proyectos{
    margin-left: 5%;
} */

.Proyectos{
    width: 90%;
    height: auto;
    margin: 7%;
}

.my-projects{
    font-weight: 900;
    font-size: 6vh;
    color: rgb(17, 13, 62);
    display: flex;
    justify-content: center;
    align-content: center;
    
}
.description-projects{
    color: rgb(17, 13, 62);
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
}

/* imagenes proyectos */

.projects-box a img{
    height: auto;
    width: 25vw;
}

.projects-box a{
    border: solid 0.1em rgb(199, 199, 199);
    border-radius: 7px;
    margin-bottom: 4%;
    transition: transform 1s;
}

.projects-box a:hover{
    border: solid 0.12em #7f3a5f;
}

.projects-box a:hover{
    transform: scale(1.1);
}


.projects-box{
    position: relative;
    display: flex;
    align-self: flex-end;
    justify-self: center;
    flex-wrap: wrap;
    margin-left: 4%;
    margin-top: 7%;
    margin-bottom: 4%;
}


figcaption{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: auto;
}