/* Proyectos */
    
.Proyectos{
    width: 90%;
    height: auto;
    margin: 7%;
}

.my-projects{
    font-weight: 900;
    font-size: 5vh;
    color: var(--azul-oscuro);
    display: flex;
    justify-content: center;
    align-content: center;
    
}
.description-projects{
    color: var(--azul-oscuro);
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
   
}

/* Estilos imagenes proyectos */

.projects-box a img{
    height: auto;
    width: 25vw;
}

.projects-box a{
    border: solid 0.1em rgb(199, 199, 199);
    border-radius: 7px;
    margin-bottom: 4%;
    transition: transform 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects-box a:hover{
    border: solid 0.12em var(--violeta-principal);
}

.projects-box a:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 10px var(--rosa-claro);
}


.projects-box{
    position: relative;
    display: flex;
    align-self: flex-end;
    justify-self: center;
    flex-wrap: wrap;
    margin-left: 4%;
    margin-top: 7%;
    margin-bottom: 4%;
    
}


.project-name{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: auto;
}


/* Responsive */


@media(max-width:1400px)and (min-width:1100px){
.description-projects{
    font-size: 1rem;
    text-align: center;
}

}

@media(max-width:1100px)and (min-width:800px){
    .my-projects{
        font-size: 2.6rem;
    }

    .description-projects{
    font-size: 1.8rem;
    text-align: center;
}

}


@media(max-width:800px)and (min-width:270px){
    .my-projects{
        font-size: 2rem;
    }

    .description-projects{
        font-size: 1.5rem;
        text-align: center;
    }

    .projects-box{
        width: 90%;
    }


    .projects-box a img{
        width: 100%;
        height: autocd;
    }
    .project-name{
        width: auto;
    }

}