/* Seccion cita */

.cita{
    height:80vh;
    width: 100%;
    margin-top: 12%;
    background-color: var(--violeta-principal);
    display: flex;
    align-items: center;
    justify-content: center;

}

.frase{
    width: 60%;
    height: 18%;
    position: absolute;
    color:var(--casi-blanco);
    font-style: oblique;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 1em;
    line-height: 2em;
    margin-bottom: 3.8rem;
}
.frase:hover{
    color: var(--casi-blanco);
    font-weight: 800;
    transition: all .5s ease-in-out;
    cursor: pointer;
    transform: scale(1.1);

}

.autor{
    position: absolute;
    width: 100%;
    color: var(--casi-blanco);
    align-self: flex-end;
    text-align: center;
    margin-bottom: 1em;
       
}
.autor:hover{
    color: var(--casi-blanco);
    font-weight: 800;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.cita .fas{
    height:17%;
    width: 100%;
    font-size: 80px;
    display: flex;
    margin-bottom: 4em;
    justify-content: center;
    color: var(--casi-blanco);

}

/* Responsive */

@media(max-width:1300px){

    .cita .frase{
        font-size: 1.5rem;
        margin-top: 8rem;
    }

    .cita i{
        margin-top: 1.7rem;
    }

    .cita .autor{
        font-size: 1.8rem;
    }

}

@media(max-width:900px){

    .cita{
        width: 100%;
    }
    .cita i{
        font-size: 3rem;
    }

    .cita .frase{
        font-size: 1.4rem;
        margin-top: 3rem;
    }

    .cita h2{
        font-size: 1rem;
    }

}

@media(max-width:560px){

    .cita{
        height: 35rem;
    }
    .cita .frase{
        font-size: 1.1rem;
        margin-top: 8rem;;
        }

    .cita .fas{
        margin-top: 0.5rem;
     
    }
}

