/* Seccion cita */

.cita{
    height:75vh;
    width: 100%;
    margin-top: 12%;
    background-color: #7f3a5f;
    display: flex;
    align-items: center;
    justify-content: center;

}

.frase{
    width: 60%;
    height: 20%;
    position: absolute;
    color: #dab2b8;
    font-style: oblique;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 1.3em;
    line-height: 2em;
}
.frase:hover{
    color: #f0d4d8;
    font-weight: 800;
    transition: all .5s ease-in-out;
    cursor: pointer;
    transform: scale(1.1);

}

.autor{
    position: absolute;
    width: 100%;
    color: #dab2b8;
    align-self: flex-end;
    text-align: center;
    margin-bottom: 3em;       
}
.autor:hover{
    color: #f0d4d8;
    font-weight: 800;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.cita .fas{
    height:17%;
    width: 100%;
    font-size: 80px;
    display: flex;
    margin-bottom: 4.5em;
    color: #dab2b8;
}

/* Responsive */

@media(max-width:1100px){

    .cita .frase{
        font-size: 2rem;
        margin-top: 8rem;
    }

    .cita i{
        margin-top: 1.7rem;
    }

    .cita .autor{
        font-size: 1.8rem;
    }

}

@media(max-width:900px){

    .cita{
        width: auto;
    }
    .cita i{
        font-size: 3rem;
    }

    .cita .frase{
        font-size: 1.4rem;
        margin-top: 3rem;
    }

    .cita h2{
        font-size: 1rem;
    }

}

@media(max-width:560px){

    .cita .frase{
        font-size: 1.1rem;
    }

}

